<h1>Time Records</h1>
<!-- <%= stylesheet_link_tag "application.css" %> -->
<table>
  <tr>
    <th>Date</th>
    <th>In/Out</th>
    <th>Hours</th>
  </tr>
 
<% @dr.each do |dr| %>
  <tr class="<%= cycle('oddrow', 'evenrow') -%>">
    <td><%= dr.logdate %></td>
    <td style="white-space: pre-wrap;"><%= dr.summary %></td>
    <td><%= dr.hours %></td>
  </tr>
<% end %>
</table>
<table>
  <tr>
    <th>Time</th>
    <th>In/Out</th>
  </tr>
 
<% @tr.each do |tr| %>
  <tr class="<%= cycle('oddrow', 'evenrow') -%>">
    <td><%= tr.time %></td>
    <td><%= tr.recordtype %></td>
  </tr>
<% end %>
</table>
